<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <title>Kirjat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out" />
      <h3>Käyttäjä: <span sec:authentication="name"></span></h3>
    </form>
    <h1>Kirjat</h1>
    <table>
      <tr>
        <th>Nimi</th>
        <th>Kirjailija</th>
        <th>Julkaisuvuosi</th>
        <th>Kategoria</th>
      </tr>
      <tr th:each="kirja : ${books}">
        <td th:text="${kirja.title}"></td>
        <td th:text="${kirja.author}"></td>
        <td th:text="${kirja.publicationYear}"></td>
        <!--<td th:text="${kirja.category.name}"></td> -->
        <td th:text="${kirja.category != null ? kirja.category.name : ''}">category</td>
        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteBook/{id}(id=${kirja.id})}">Poista</a></td>
        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editBook/{id}(id=${kirja.id})}">Muokkaa</a></td>
      </tr>
    </table>
    <a sec:authorize="hasAuthority('ADMIN')" href="/addBook">Lisää kirja</a>
  </body>
</html>
