<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Kirja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muuokkaa kirjan tietoja</h1>
	<div>
		<form th:object="${book}" th:action="@{/saveEditedBook}" action="#" method="post">
			<input type="text" id="id" th:field="*{id}" readonly/>
		  	<label for="title">title</label>
			<input type="text" id="title" th:field="*{title}" />
			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>	
		  	<label for="author">author</label>
			<input type="text" id="author" th:field="*{author}" />
		  	<label>Vuosi</label>
			<input type="text" th:field="*{publicationYear}" />
			<label >Kategoria</label>
			 <select th:field="*{category}" >
       			<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    		</select>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>